@function lkt-rem($valueInPx: 0, $factor: $LKT_REM_FACTOR) {
  $l: length($valueInPx);
  @if ($l > 1) {
    $rules: ();
    @each $v in $valueInPx {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-rem($v));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $valueInPx: $rules;

  } @else {
    $valueInPx: lkt-strip-unit($valueInPx);
    $valueInPx: ($valueInPx / $factor) * 1rem;

  }
  @return $valueInPx;
}

@function lkt-em($value-in-px: 0, $parent-font-size-in-px: 16) {
  $l: length($value-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $value-in-px {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-em($v));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $value-in-px: $rules;

  } @else {
    $value-in-px: lkt-strip-unit($value-in-px);
    $parent-font-size-in-px: lkt-strip-unit($parent-font-size-in-px);
    $value-in-px: ($value-in-px / $parent-font-size-in-px) * 1em;

  }
  @return $value-in-px;
}

@function lkt-vw($valueInPx: 0, $viewportSize: 0) {
  $l: length($valueInPx);
  @if ($l > 1) {
    $rules: ();
    @each $v in $valueInPx {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-vw($v, $viewportSize));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $valueInPx: $rules;

  } @else {
    $valueInPx: lkt-strip-unit($valueInPx);
    $viewportSize: lkt-strip-unit($viewportSize);
    $valueInPx: (($valueInPx * 100) / $viewportSize) * 1vw;

  }
  @return $valueInPx;
}

@function lkt-percent($valueInPx: 0, $viewportSize: 0) {
  $l: length($valueInPx);
  @if ($l > 1) {
    $rules: ();
    @each $v in $valueInPx {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-percent($v, $viewportSize));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $valueInPx: $rules;

  } @else {
    $valueInPx: lkt-strip-unit($valueInPx);
    $viewportSize: lkt-strip-unit($viewportSize);
    $valueInPx: (($valueInPx * 100) / $viewportSize) * 1%;

  }
  @return $valueInPx;
}