@mixin big-enough($property: '', $unit-in-px: 0px, $viewport-size: 0px, $enough: false, $add-rem: false) {
  @media screen and (min-width: #{$enough}){

    $l: length($unit-in-px);
    @if ($l > 1) {
      $rules: ();
      @each $v in $unit-in-px {
        @if (lkt-is-absolute-length($v)) {
          $limit: ($enough * $v) / $viewport-size;
          $rules: append($rules, $limit);
        } @else {
          $rules: append($rules, $v);
        }
      }

      $unit-in-px: $rules;

    } @else {
      $unit-in-px: ($enough * $unit-in-px) / $viewport-size;
    }
    #{$property}: $unit-in-px;

    @if ($add-rem == true){
      #{$property}: lkt-rem($unit-in-px);
    }
  }
}

@mixin small-enough($property: '', $unit-in-px: 0px, $viewport-size: 0px, $enough: false, $add-rem: false) {
  @media screen and (max-width: #{$enough}){

    $l: length($unit-in-px);
    @if ($l > 1) {
      $rules: ();
      @each $v in $unit-in-px {
        @if (lkt-is-absolute-length($v)) {
          $limit: ($enough * $v) / $viewport-size;
          $rules: append($rules, $limit);
        } @else {
          $rules: append($rules, $v);
        }
      }

      $unit-in-px: $rules;

    } @else {
      $unit-in-px: ($enough * $unit-in-px) / $viewport-size;
    }
    #{$property}: $unit-in-px;

    @if ($add-rem == true){
      #{$property}: lkt-rem($unit-in-px);
    }
  }
}