@mixin lkt-to-rem($property: '', $unit-in-px: 0px, $factor: $LKT_REM_FACTOR) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-rem($unit-in-px, $factor);
}

@mixin lkt-to-em($property: '', $unit-in-px: 0px, $parent-font-size-in-px: 10px) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-em($unit-in-px, $parent-font-size-in-px);
}

@mixin lkt-to-vw($property: '', $unit-in-px: 0px, $viewport-size: 0px, $big-enough: false, $small-enough: false) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-vw($unit-in-px, $viewport-size);

  @if ($big-enough != false and lkt-is-absolute-length($big-enough)){
    @include big-enough($property, $unit-in-px, $viewport-size, $big-enough);
  }

  @if ($small-enough != false and lkt-is-absolute-length($small-enough)){
    @include small-enough($property, $unit-in-px, $viewport-size, $small-enough);
  }
}

@mixin lkt-to-percent($property: '', $unit-in-px: 0px, $viewport-size: 0px, $big-enough: false, $small-enough: false) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-percent($unit-in-px, $viewport-size);

  @if ($big-enough != false and lkt-is-absolute-length($big-enough)){
    @include big-enough($property, $unit-in-px, $viewport-size, $big-enough);
  }

  @if ($small-enough != false and lkt-is-absolute-length($small-enough)){
    @include small-enough($property, $unit-in-px, $viewport-size, $small-enough);
  }
}

@mixin lkt-to-rem-vw($property: '', $unit-in-px: 0px, $viewport-size: 0px, $big-enough: false, $small-enough: false) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-rem($unit-in-px);
  #{$property}: lkt-vw($unit-in-px, $viewport-size);

  @if ($big-enough != false and lkt-is-absolute-length($big-enough)){
    @include big-enough($property, $unit-in-px, $viewport-size, $big-enough, true);
  }

  @if ($small-enough != false and lkt-is-absolute-length($small-enough)){
    @include small-enough($property, $unit-in-px, $viewport-size, $small-enough, true);
  }
}

@mixin lkt-to-rem-percent($property: '', $unit-in-px: 0px, $viewport-size: 0px, $big-enough: false, $small-enough: false) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-rem($unit-in-px);
  #{$property}: lkt-percent($unit-in-px, $viewport-size);

  @if ($big-enough != false and lkt-is-absolute-length($big-enough)){
    @include big-enough($property, $unit-in-px, $viewport-size, $big-enough, true);
  }

  @if ($small-enough != false and lkt-is-absolute-length($small-enough)){
    @include small-enough($property, $unit-in-px, $viewport-size, $small-enough, true);
  }
}

@mixin lkt-to-rem-percent-vw($property: '', $unit-in-px: 0px, $viewport-size: 0px, $big-enough: false, $small-enough: false) {
  @if($LKT_INCLUDE_PX == true){
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-rem($unit-in-px);
  #{$property}: lkt-percent($unit-in-px, $viewport-size);
  #{$property}: lkt-vw($unit-in-px, $viewport-size);

  @if ($big-enough != false and lkt-is-absolute-length($big-enough)){
    @include big-enough($property, $unit-in-px, $viewport-size, $big-enough, true);
  }

  @if ($small-enough != false and lkt-is-absolute-length($small-enough)){
    @include small-enough($property, $unit-in-px, $viewport-size, $small-enough, true);
  }
}